@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,900&display=swap');

:root {
  --main-color: #369;
  --background-color: white;
  --accent-color: LightGrey;
  --hightlight-color: #936;
  --border-style: 2px solid var(--accent-color);
}

.App {
  text-align: center;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  width: 100vw;
  color: var(--main-color);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--background-color);
}

.Body {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  justify-content: center;
}

.Columns {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: stretch;
}

.Column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  height: 100%;
  justify-content: space-around;
  align-items: stretch;
}

.Input > textarea {
  resize: none;
  font-family: inherit;
  width: 100%;
  height: 100%;
  border: var(--border-style);
  padding: 1rem;
}

.Input > textarea:focus {
  border-color: var(--hightlight-color);
}

@media only screen and (min-width: 700px) {
  .Columns {
    flex-direction: row;
  }

  .Input > textarea {
    font-size: 1.5rem;
  }
}
